/*Tags*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #eeeeee;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

/*Classes*/

.body-container {
  padding: 0% 10%;
  margin-top: 50px;
  margin-bottom: 150px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.flex-container {
  display: flex;
  background-color: #222831;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10%;
  height: 50px;
  box-shadow: 1px 1px 5px 1px #222831;
}

.flex-container:hover {
  box-shadow: 1px 1px 5px 3px #222831;
}

.nav-item {
  color: #f0f5f9;
}

.profile-icon {
  float: left;
  height: 70px;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-item {
  box-shadow: 1px 1px 5px 1px #222831;

  padding: 0% 6%;
  max-height: 800px;
  background-color: #393e46;
}

.grid-item:hover {
  box-shadow: 1px 1px 5px 3px #222831;
}

.title-div {
  box-shadow: 1px 1px 5px 1px #222831;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 0.6%;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 5px;
  background-color: #393e46;
}

.title-div:hover {
  box-shadow: 1px 1px 5px 3px #222831;
}

.grid-item-span2 {
  grid-column: span 2;
  padding: 0% 3%;
}

/*IDs*/

/*Media*/
@media screen and (max-width: 950px) {
  .grid-item {
    grid-column: span 2;
  }
  .grid-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 414px) {
  .profile-icon {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    height: 70px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 607px) {
  .grid-item {
    padding-bottom: 0;
  }

  .profile-icon {
    height: 65px;
  }
}
